@use '../scss/common';

:host {
    @layer {
        & {
            --_max-width: 640px;
            // --_max-width: 100%;
            --_gap: 8px;
            --_logo-height: 64px;
        }
    }

    @include common.layout-block();

    &:not(._full-page) {
        @include common.layout-block();

        display: flex;
        flex-direction: column;

        width: min(var(--_max-width), 100%);

        margin-left: auto;
        margin-right: auto;

        height: 100%;

        padding-bottom: var(--_gap);
    }

    &._full-page {
        display: flow-root;

        &> :is(header, footer) {
            display: none;
        }
    }
}

header {
    @include common.layout-block();

    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: var(--_gap);

    padding-top: var(--_gap);

    h1 {
        margin: 0px;
    }

    .angular-logo {
        max-height: var(--_logo-height);
    }
}

footer {
    @include common.layout-block();

    margin-top: auto;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--_gap);

    &>* {
        margin: 0px;
    }
}

.-cmp-title {
    @include common.layout-block();

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: var(--_gap);
}