/* You can add global styles to this file, and also import other style files */
@use './scss/common';
@use './scss/material';

// Material Symbols
.material-symbols-outlined {
  font-variation-settings: var(--app-icon-variation);
}

:root {
  // == Static Properties ==================================================
  --sys-brand-primary-color: #0000ff;
  --sys-brand-secondary-color: #00ff00;

  --sys-font: 'Roboto Flex', 'Noto Sans Thai Looped', sans-serif;
  --sys-monospace-font: 'Roboto Mono', monospace;
  --sys-font-size: 16px;

  --sys-surface-color: light-dark(#ffffff, #121212);
  --sys-surface-container-color: light-dark(#808080, #404040);
  --sys-on-surface-color: light-dark(#333333, #ffffff);
  --sys-warn-color: #ff0000;
  --sys-on-warn-color: #ffffff;

  --sys-gap: 4px;
  --sys-column-gap: calc(2 * var(--sys-gap));
  --sys-row-gap: var(--sys-gap);

  // ---- Theme Properties --------------------------------------------------
  --sys-primary-color: light-dark(var(--sys-brand-primary-color),
      color-mix(in srgb, var(--sys-brand-primary-color), #ffffff 25%));
  --sys-on-primary-color: #ffffff;

  --sys-secondary-color: light-dark(var(--sys-brand-secondary-color),
      color-mix(in srgb, var(--sys-brand-secondary-color), #ffffff 25%));
  --sys-on-secondary-color: #ffffff;

  --sys-icon-variation: #{material.appearance()};

  // == Application properties ==================================================
  --app-font: var(--sys-font);
  --app-monospace-font: var(--sys-monospace-font);
  --app-font-size: var(--sys-font-size);

  --app-surface-color: var(--sys-surface-color);
  --app-surface-container-color: var(--sys-surface-container-color);
  --app-on-surface-color: var(--sys-on-surface-color);
  --app-warn-color: var(--sys-warn-color);
  --app-on-warn-color: var(--sys-on-warn-color);

  --app-gap: var(--sys-gap);
  --app-column-gap: var(--sys-column-gap);
  --app-row-gap: var(--sys-row-gap);

  // ---- Theme Properties --------------------------------------------------
  --app-primary-color: var(--sys-primary-color);
  --app-on-primary-color: var(--sys-on-primary-color);

  --app-secondary-color: var(--sys-secondary-color);
  --app-on-secondary-color: var(--sys-on-secondary-color);

  --app-icon-variation: var(--sys-icon-variation);

  color-scheme: light dark;

  color: var(--app-on-surface-color);
  background-color: var(--app-surface-color);

  font-family: var(--app-font);
  font-size: 16px;

  scroll-behavior: smooth;
  overflow-y: scroll;

  &[data-theme='light'] {
    color-scheme: light;
  }

  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

:root,
body {
  @include common.layout-block();

  height: 100%;
}

input,
textarea {
  font-size: inherit;
}

.app-cl-hidden {
  visibility: hidden;
}

.app-cmp-flex-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  &>.app-cl-flex {
    flex: 1 0 auto;
  }

  &>.app-cl-meta {
    @include common.layout-block();

    display: inline-block;
    margin-left: auto;
  }
}

.app-cmp-button {
  @layer {
    & {
      --_color: var(--app-primary-color);
      --_on-color: var(--app-on-primary-color);

      --_text-color: var(--_color);
      --_border-color: var(--_text-color);
      --_background-color: transpalent;
      --_on-hover-background-color: var(--app-surface-container-color);

      --_border-style: 1px solid var(--_border-color);

      &.app-cl-filled {
        --_on-hover-background-color: color-mix(in srgb,
            var(--_background-color),
            var(--app-surface-container-color) 25%);
      }
    }
  }

  @include common.layout-block();

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 4px;

  cursor: pointer;

  color: var(--_text-color);
  background-color: var(--_background-color);
  border: var(--_border-style);
  border-radius: 4px;

  padding: 0.5em 1ch;

  font-family: var(--app-font);
  font-size: var(--app-font-size);
  font-weight: bold;
  text-decoration: none;

  &:hover:not(:is(:disabled, a:not([href]))) {
    background-color: var(--_on-hover-background-color);
  }

  &:is(:disabled, a:not([href])) {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

.app-cmp-nav {
  @layer {
    & {
      --_font: var(--app-font);
      --_font-size: var(--app-font-size);
      --_color: var(--app-primary-color);
      --_on-color: var(--app-on-primary-color);

      --_text-color: var(--_color);
      --_border-color: var(--_text-color);
      --_background-color: transpalent;
      --_filling-color: var(--app-surface-container-color);
      --_column-gap: var(--app-column-gap);
      --_row-gap: var(--app-row-gap);

      --_border-style: 1px solid var(--_border-color);

      &.app-cl-filled {
        --_filling-color: color-mix(in srgb,
            var(--_background-color),
            var(--app-surface-container-color) 25%);

        &>*:not(.app-st-active):not(:hover) {
          --_text-color: var(--app-on-surface-color);
        }
      }
    }
  }

  @include common.layout-block();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  column-gap: var(--_column-gap);
  row-gap: var(--_row-gap);

  margin-top: 8px;
  margin-bottom: 8px;

  list-style: none;

  &>* {
    @include common.layout-block();

    display: inline-block;

    &> :is(a, button) {
      @include common.layout-block();

      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: var(--_column-gap);

      height: 100%;

      padding: 0.25em 1ch;

      cursor: pointer;

      color: var(--_text-color);
      background-color: var(--_background-color);

      font-family: var(--_font);
      font-size: var(--_font-size);
      font-weight: bold;
      border: var(--_border-style);
      border-radius: 4px;
      overflow: hidden;

      text-decoration: none;
      white-space: nowrap;
    }

    &.app-st-active {
      &> :is(a, button) {
        background-color: var(--_filling-color);
      }
    }

    &:hover:not(:is(.app-st-active, :has(> :is(a:not([href]), button:disabled)))) {
      &> :is(a, button) {
        background-color: color(from var(--_filling-color) srgb r g b / 0.5);
      }
    }

    &:has(> :is(a:not([href]), button:disabled)) {
      &> :is(a, button) {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }
}

.app-cmp-link {
  @layer {
    & {
      --_color: var(--app-on-surface-color);
      --_on-hover-background-color: var(--app-surface-container-color);
      --_icon-variation: var(--app-icon-variation);

      --_forground-color: color-mix(in srgb, var(--_color), var(--app-surface-color));
    }
  }

  display: inline-block;
  box-sizing: border-box;

  padding: 0px;

  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--_forground-color);
  text-decoration: none;

  &::after {
    content: 'link';
    @include material.set-symbol();
    font-size: inherit !important;
    transform: translateY(20%);
    margin-left: 0.5ch;
  }

  &.app-cl-external::after {
    content: 'open_in_new';
  }

  &:hover {
    color: var(--_color);
    background-color: var(--_on-hover-background-color);
  }
}

.app-cl-code,
input[type='number'],
.app-cl-number {
  font-family: var(--app-monospace-font);
}

input[type='number'],
.app-cl-number {
  text-align: right;
}

@layer {
  .app-cl-warn {
    --_color: var(--app-warn-color);
    --_on-color: var(--app-on-warn-color);
  }

  .app-cl-secondary {
    --_color: var(--app-secondary-color);
    --_on-color: var(--app-on-secondary-color);
  }

  .app-cl-filled {
    --_text-color: var(--_on-color);
    --_border-color: transparent;
    --_background-color: var(--_color);

    --_border-style: 0px solid var(--_border-color);
  }
}